{{ if .Values.pdp.logs_forwarder.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentbit-config
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        HTTP_Server   On
        HTTP_Listen   0.0.0.0
        HTTP_Port     2020

    [INPUT]
        Name          tail
        Path          /tmp/pdp.log
        Tag           kube.*
        DB            /var/log/flb_kube.db
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On

    [FILTER]
        Name          grep
        Match         kube.*
        Regex         log "Decision Log.*{.*}"

    [FILTER]
        Name          lua
        Match         kube.*
        script        /fluent-bit/etc/filter.lua
        call          process_log

    {{- if eq .Values.pdp.logs_forwarder.type "stdout" }}
    [OUTPUT]
        Name          stdout
        Match         *
    {{- else if eq .Values.pdp.logs_forwarder.type "elasticsearch" }}
    [OUTPUT]
        Name          es
        Match         *
        Host          {{ .Values.pdp.logs_forwarder.elasticsearch.host }}
        Cloud_auth    {{ .Values.pdp.logs_forwarder.elasticsearch.cloud_auth }}
        Cloud_id      {{ .Values.pdp.logs_forwarder.elasticsearch.cloud_id }}
        Port          {{ .Values.pdp.logs_forwarder.elasticsearch.port }}
    {{- end }}

  filter.lua: |
    function process_log(tag, timestamp, record)
        local log_message = record["log"]

        if log_message then
            log_message = log_message:gsub('\\\\"', '\\"')
            log_message = log_message:gsub('\\"', '"')
            log_message = log_message:gsub('\\\\', '\\')
        end

        local json_data = string.match(log_message, '{"decision_id":.*}')

        if json_data then
            return 1, timestamp, { log = json_data }
        else
            return -1, timestamp, record
        end
    end
{{- end }}
