apiVersion: v1
kind: Service
metadata:
  name: permitio-pdp
  {{- with .Values.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    {{- include "pdp.selectorLabels" . | nindent 4 }}
  ports:
    {{- range .Values.pdp.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort | default .port }}
      protocol: TCP
    {{- end }}
