apiVersion: apps/v1
kind: Deployment
metadata:
  name: permitio-pdp
  labels:
    app: permitio-pdp
spec:
  replicas: {{ .Values.pdp.replicas }}
  selector:
    matchLabels:
      app: permitio-pdp
  template:
    metadata:
      labels:
        app: permitio-pdp
    spec:
      containers:
        - name: permitio-pdp
          image: "{{ .Values.pdp.image.repository }}:{{ .Values.pdp.image.tag }}"
          imagePullPolicy: {{ .Values.pdp.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.pdp.port }}
          env:
            - name: PDP_API_KEY
              valueFrom:
                secretKeyRef:
                  name: permitio-pdp-secret
                  key: ApiKey
          livenessProbe:
            httpGet:
              path: /health
              port: 7000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthy
              port: 7000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources: {}