package system.authz

default allow = false                       # Reject requests by default.

allow {                                     # Allow request if...
    "{{ bearer_token }}" == input.identity  # Identity is the secret root key.
}

allow {
    input.path[0] == "health"
}
