services:
  authorizon:
    url: {{ cloud_service_url }}
    {% if bearer_token is defined %}
    credentials:
      bearer:
        token: "{{ bearer_token }}"
    {% endif %}

decision_logs:
  service: authorizon
  resource: {{ log_ingress_endpoint }}
  reporting:
    min_delay_seconds: {{ min_delay_seconds }}
    max_delay_seconds: {{ max_delay_seconds }}